.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-left {
    display: flex;
    align-items: center;
    width: 70%;
    column-gap: 10px;
}

.cart-item-left img {
    width: 10%;
}

.cart {
    padding-top: 50px;
}

.cart-item-right {
    display: flex;
    column-gap: 20px;
}

.cart-count {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.cart-count-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-count-btn:active{
    transform: scale(1.2);
}
